<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="WcfServiceLibrary1.Service1">
				<endpoint address="http://localhost:8733/Service1/"
				 binding="webHttpBinding"
				 contract="WcfServiceLibrary1.IService1"/>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>