<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <binding name="velib_IVelibService" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth= "32" maxStringContentLength= "2024000000" maxArrayLength= "16384"
                        maxBytesPerRead= "4096" maxNameTableCharCount= "16384" />
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/VelibWeb/VelibService/"
                binding="wsHttpBinding" bindingConfiguration="velib_IVelibService"
                contract="VelibServer.IVelibService" name="velib_IVelibService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>